.App {
    height: 100%;
    width: 100%;
    background-color: red;
}



.App-main {
    border: 1px solid black;
    height: 100%;
    width: 70%;
}

.App-left-side_menu {
    border: 1px solid black;
    height: 100%;
    width: 15%;
}

.App-right-side_menu {
    border: 1px solid black;
    height: 100%;
    width: 15%;
}