.updatePassword-form-container {
    margin: 25% auto;
    border: 1px solid black;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.updatePassword-form-container > input {
    margin-top: 20px;
}

.updatePassword-form-container > button {
    margin-top: 20px;
}

