.email-verification-container {
    margin: 20% auto;
    border: 1px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 50%;
    border-radius: 8px;
    background: #fff;
}