.main-container {
    background-color: aliceblue;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px black solid;
    padding: 25px;
    background-color: whitesmoke;
}

.register-form-container  label, select, button {
    padding-bottom: 5px;
}

