.navBar-main-container {
    display: flex;
    justify-content:space-between;
    border: 1px black solid;
    width: 100%;
    height: 100%;
    background-color: rgb(168, 206, 250);
}

.navigationBar-left-form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px black solid;
    width: 19%;
    padding: 10px;
}

.navigationBar-right-form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px black solid;
    width: 2%;
    padding: 10px;
}

