.navBar-main-container {
    border: 1px black solid;
    width: 100%;
    height: 100%;
    background-color: rgb(168, 206, 250);
}

.navigationBar-form-container {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    margin-left: 10px;
    margin-top: 8px;
    padding: 5px;
    width: 20%
}