.navBar-main-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    background-color: #161b22;
    border: 0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.navigationBar-left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 19%;
    padding: 10px;
}

.navigationBar-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 3%;
    padding: 10px;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 650;
    font-family: inherit;
    padding: 5px;
    position: relative;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    border: 0;
    border-radius: 2px;
    top: 5px;
    text-decoration: none!important;
}

.btn:hover {
    color: #8a8a8a;
}

