.App {
    display: flex;
    flex-direction: column;
}

.App-header {
    width: 99.92%;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.747);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    text-decoration: none;
}

.layout-flexbox-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.App-main {
    height: 100%;
    width: 100px;
    flex: 3;
}

.App-left-side_menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 650px;
    flex: 1;
}

.App-right-side_menu {
    margin-top: 15px;
    background-color: white;
    height: 650px;
    flex: 1;
}